html {
    background-color:black;
    height: 100%;
}

main {
    display: inline-flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

.notification_container, .menu_container {
    background-color: white;
    margin: 2.5%;
    border: 2px solid black;
    padding: 2.5%;
    max-height: 130%;
    padding-bottom: 30%;
}

.menu_title {
    text-decoration: underline;
}

.my_notif_title, .my_fav_title, .search_loc_title, .search_zip_title {
    font-size: 30px;
    font-weight: bolder;
    padding-right: 30px;
}

.search_loc_container, .search_zip_container {
    display: flex;
    align-content: center;
}

.search_loc_button, .search_zip_button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.back_button_container {
    padding-top: 20px;
}

.back_button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.notification_container {
    width: 30%;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notif_title {
    text-decoration: underline;
}

.main_image {
    width: 20%;
}